* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
}

.container {
  width: 300px;
  overflow: auto;
  margin: 50px auto;
  padding: 20px;
}

.board li {
  float: left;
  margin: 10px;
  width: 60px;
  height: 30px;
  list-style: none;
  border: 2px solid black;
  text-align: center;
  cursor: pointer;
}

.o {
  background-color: red;
  color: white;
}

.x {
  background-color: blue;
  color: white;
}
